html {
    scroll-behavior: smooth;
  }

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;    
}
::-webkit-scrollbar{
    background-color: #fff;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #c4c4c4;
    width: 10px;
    height: 50px;
    border-radius: 5px;
}
body, button, .search, .form-input{
    font-family: 'Barlow', sans-serif;
}
/*Navbar*/
.nav-super{
    width: 100%;
    position: fixed;
    background-color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}
.nav-logo>img{
    height: 50px;
}
.nav-logo:hover{
    cursor: pointer;
}
.submit-btn, .search{
    margin: 0;
    padding: 0.5rem 1rem;
}
/*Search field*/
#form2{
    display: none;
}
.form-input, .search-form, .upload-file{
    border: 1px solid #676767;
    border-radius: 5px;
}

.upload-file, .search-form{
    display: flex;
}

.search-form{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) ;
    width: 400px;
}
.form-input, .search, .upload-file{
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.search{
    border: none;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
}
.search:focus, .search:active{
    border: none;
}
.submit-btn >i, .upload>i{
    color: #676767;
}
.submit-btn:hover >i, .upload:hover>i{
    color: #000;
}
.submit-btn >i {
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    border: none;
    height:100%;
    width: auto;
}
.submit-btn:hover, .grey-btn:hover, .upload:hover{
    cursor: pointer;
}
/*Navbar bold button*/
.grey-btn{
    background-color: #efefef;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}

/*Card container*/
.add-container, .container{
    padding: 7rem 5vw 5vh 5vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card{
    padding: 1.5rem;
    background-color: #efefef;
    border-radius: 10px;
    width: 670px;
    max-width: 100%;
    margin-bottom: 1.5rem;
}
.circular{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card-main{
    display: flex;
    width: 100%;
}
.card-main-text{
    margin-left: 1.5rem;
    flex-grow: 1;
}
h2{
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0;
    

        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;
      
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
      
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      
      
}
h3, p{
    margin-top: 0.5rem;
}
h3{
    font-weight: 400;
    margin-bottom: 0;

}
p, .card-btn{
    font-weight: 500;
    color: #999;
}
.card-btn{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.card-btn:nth-child(1){
    margin-right: 1rem;
}
.card-m-b{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.chevron-c{
    text-align: center;
    color: #676767;  
}
.chevron-c > i:hover{
    cursor: pointer;
    color: black;
}

/*collapsible*/
.hr{
    border-top: 1px solid #c4c4c4;
    margin: 0.5rem 0 1rem 0;
}
td, th{
    vertical-align: top;
    text-align: left;
    padding: 0.5rem 1rem;
}
.hide{
    display: none;
}

.scroll-top{
    color: #676767;
    background-color: #efefef;
  padding: 5px 7px;
    border-radius: 50%;
    border: 1pt solid #676767;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem;
}
.scroll-top:hover i{
    color: #000;
    cursor: pointer;
}

/*Contribute form*/
#contribute-form{
    width: 500px;
    max-width: 100%;
    text-align: center;
}
.form-input{
    display: block;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box; 
}
.example{
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
.upload-file, .form-input{
    margin-bottom: 1rem;
    width: 100%;
}
.upload-file{
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box; 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box; 
}
.upload-file>p{
    margin: 0;
}
#filename{
    color: grey;
}


/*Media queries*/

@media (max-width: 1200px){
    .search-form{
    position: relative;
    top: 0rem;
    left: 0%;
    transform: translateX(0) ;
    }
}


@media (max-width: 768px){
    .nav-logo>img{
        height: 40px;
    }
    .search-form{
        width: 300px;
    }
}
@media (max-width: 670px){
    #form1{
        display: none;
    }
    #form2{
        display: flex;
        margin: 0 5%;
    }
    .search-form{
        width: 90%;
    }
 
    
}
@media (max-width: 400px){
    .navbar{
        padding: 0.5rem;
    }
}
@media (max-width: 320px){
    .nav-logo>img{
        height: 30px;
    }
}